body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

h1  {
    color: darkblue;
}


.container {
    display: grid;
    width: 90%;
    max-width: 1000px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container > * {
    flex: 1;
    margin: 10px;
}

#invokeApi {
    align-self: center;
    padding: 10px 15px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 25px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2), inset 0px 1px 2px rgba(255, 255, 255, 0.5);
    background: linear-gradient(to bottom, #0090f0, #005a9e);
}

#invokeApi:hover {
    background: linear-gradient(to bottom, #0078d4, #00447c);
    box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.3), inset 0px 1px 2px rgba(255, 255, 255, 0.5);
}
#invokeApi:disabled,
#invokeApi[disabled]{
  border: 1px solid #999999;
  background: linear-gradient(to bottom, #888888, #cccccc);
  color: #666666;
  cursor:wait;
}

#spinner {
    color: darkblue;
    align-self: center;
    font-weight: bold;
}

.button-column {
    /* flex: 0 0 100px; This will make the button column fixed width of 100px */

    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {

    height: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
}

table{
    width:100%;
    border-collapse:collapse;
    font-size:0.8em;
}

table td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }

  .tooltip {
    position: absolute;
    padding: 8px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 10;
    max-width: 300px;
    display: none;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    font-family: monospace;
    white-space: pre-wrap;
  }


  header {
    color: #333;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    color: darkblue;
    text-decoration: none;
  }
  
  nav a.highlight, nav a:hover {
    font-weight: bold;
  }